body {
    //background: url('https://i.pinimg.com/564x/31/f3/8e/31f38ec9cdda5f36daff2176b515c883.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    margin: 0;
}
